$primary-color: #333333;
$secondary-color: #aaaaaa;
$white-color: #ffffff;
$hover-background: #e2efff;
$hover-color: #125bae;
$border-color: #73aff4;

@mixin flex-col-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flex-row-cen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@mixin flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-col-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
